For Create React App (Prefix REACT_APP)
REACT_APP_APPWRITE_URL=""

For Vite App (Prefix VITE_)
VITE_APPWRITE_URL=""
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_COLLECTION_ID=""
VITE_APPWRITE_BUCKET_ID=""